@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-black hover:text-gray-600;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.btn-login-navBar {
  @apply py-2.5 px-5 rounded-md text-white border border-white hover:bg-white
  hover:text-gray-800 transition duration-500 ease-in-out sm:mr-4 mr-2;
}

.btn-register-navBar {
  @apply py-2.5 px-5 rounded-md text-white bg-blue-500 border-blue-500
  hover:bg-blue-600 hover:text-white hover:border-blue-600 transition duration-500 ease-in-out 
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-sky-600 focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}